@import url('https://fonts.googleapis.com/css2?family=Nabla&family=Ojuju:wght@200..800&family=Truculenta:opsz,wght@12..72,100..900&display=swap');



*{
    margin: 0;
    padding: 0;
}

body{
    background-color: none;
    font-family: 'truculenta', sans-serif;
}

.flex-container{
    position: absolute;
        /* display: flex; */
        width: 45%;
        height: 80%;
        padding: 30px;
        overflow: auto;
        top: 19%;
        left: 50%;
        transform: translate(-50%, -15%);
        background-color: rgba(155, 248, 255, 0.8);
        backdrop-filter: blur(5px);
        /* row is default. column flips both axis */
        flex-direction: column;
        /* vv shifts items on main axis vv */
        justify-content: space-around;
         /* vv align items shift items on cross axis vv*/
        align-items: center;
        border-radius: 30px;
    border: 15px ridge gold;
        scrollbar-width: thin;
}

.flex-items{
    /* width: 100%; */
    height: fit-content;
    align-items: center;
    justify-content: center;
    margin:10px;
    padding:20px;
    background-color: rgb(241, 252, 255);
    text-align: center;
    border-radius: 20px;
    
}

#placeHere{
    position: relative;
    width: 220px;
    height: 220px;
    margin: auto;
    top: 30px;
}


h1{
    padding: 8px;
    color: rgb(254, 142, 207);
    /* font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */

    font-family: "Truculenta", sans-serif;
    font-weight: 800;
    font-size: 3.2rem;
}

h3{
    padding: 8px;
    color: rgb(175, 114, 255);
    font-size: 1.9rem;
}

p{
    padding: 8px;
    font-size: 2.3rem;
    font-weight: 800;
}

#cerealGenerator{
    /* position: relative; */
    top: 60px;
    padding: 10px;
    border-radius: 50px;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-family: 'Truculenta', sans-serif;
    font-size: 2.5rem;
    color: rgb(255, 255, 255);
    background-color: rgb(250, 131, 131);
    text-align: center;
    border: 8px dotted rgb(255, 255, 255);
}

#breakfastImg{
    width: 35%;
    padding: 5px;
    margin: 5px;
    border: 10px double rgba(252, 144, 214, 0.485);
    border-radius: 20px;
}

fieldset{
    padding: 15px;
    border-radius: 20px;
    font-family: "Truculenta", sans-serif;
    font-size: 2.1rem;
    color: rgb(255, 255, 255);
    background-color: rgb(254, 142, 207);
    text-align: center;
    border: 7px solid rgb(255, 251, 241);
    
}

h2{
    padding: 8px;
    color: rgb(175, 114, 255);
    font-family: "Truculenta", sans-serif;
    font-weight: 800;
    font-size: 3.2rem;
}